body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: white;
}

.banner {
  background: linear-gradient(to right, #000000, #8f8686);
  text-align: center;
  padding: 30px;
}
.banner h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.banner p {
  font-size: 1.2rem;
}

.kids-section {
  padding: 20px 20px;
}
.kids-section h2 {
  margin-bottom: 20px;
  color: rgb(58, 56, 56) ;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  transition: 0.3s;

}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: contain; 
  background: white; 
  padding: 10px;
}

.card h3 {
  padding: 15px;
  font-size: 1.1rem;
}

footer {
  text-align: center;
  background: gray;
  color: white;
  padding: 15px;
  margin-top: 30px;
}
